/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */

#about_container {
    background-color: yellow;
}

#contact_container {
    background-color: orange;
}

#project_container {
    background-color: red;
}


/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


